@import '../../Styles/variables';

.header {
  background-image: url('../../assets/img/bonesPattern.png');
  background-color: $primary-color;
  padding: 20px;
  font-size: 20px;
  color: $light-text-color;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-family: 'Ostrich';
  letter-spacing: 6px;
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  flex-direction: row;
}
.nav__element {
  display: block;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid green;
  cursor: pointer;
}
