
@font-face {
  font-family: 'Ostrich';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/ostrich/OstrichSans-Bold.ttf') format('truetype'),
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: sans-serif;
  text-align: center;
}

.filtersBar{
  margin-bottom: 50px;
}
